.user-albums {
  padding: 20px 40px;
  > li {
    margin-bottom: 25px;
  }
}
.user-photos {
  list-style-type: none;
  overflow: hidden;
  padding: 10px 0;
  margin: 0 -10px;
  > li {
    float: left;
    width: 25%;
    padding: 10px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.no-photo {
  padding-bottom: 20px;
  text-align: center;
}